<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <style>
    tr,
    td {
      padding: 10px;
      border: 1px solid red;
    }
  </style>
</head>

<body>
  <p>Hello my first TS app.</p>
  <table id="table"></table>
</body>

</html>